PORT=3000
API_KEY=123456789
JWT_SECRET=secret

POSTGRES_USER=root
POSTGRES_HOST=localhost
POSTGRES_DB=example
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

MYSQL_DATABASE=example
MYSQL_USER=root
MYSQL_ROOT_PASSWORD=password
MYSQL_PORT=3306
MYSQL_HOST=localhost

TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_USERNAME = root
TYPEORM_PASSWORD = password
TYPEORM_DATABASE = example
TYPEORM_PORT = 5432
TYPEORM_SYNCHRONIZE = false
TYPEORM_LOGGING = true
TYPEORM_ENTITIES = src/**/*.entity.ts

TYPEORM_MIGRATIONS = src/database/migrations/*.ts
TYPEORM_MIGRATIONS_DIR = src/database/migrations
TYPEORM_MIGRATIONS_TABLE_NAME = migrations

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=example
MONGO_CONNECTION=mongodb
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password
